API_ID=29883679
API_HASH=3e3c9402774d85220b83e6aef50f6b3e
BOT_TOKEN=7444175412:AAE-RP2hkubdfd8h0rg6MRo090qxSvG9CAQ
LOG_GROUP_ID=-1002395526748
MONGO_DB_URI=mongodb+srv://Adityasingh98:Adityasingh98@cluster0.t94hu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7608400302
STRING_SESSION=1BZWaqwUAUH5BVT7Tle2SdbtU6VKzh4BNGxvMsI26b7e2wCko2picONrvuHCcp8p-0wgQL_iB9Po0yw4LxAh3xcd7ZOZBFe6wNwKzGi8VHMNtUE_SZjJJiY9oaDWQ9GYiUpxtG6TtYF71qNHdfd3cKfx-a5uccN8LJvGvoDyc2PXaZpJ3LlwZ_H-FnsnM2jteXBv69z6RSw0yvzAMKzJ5lmA0Cksw4ecHaKntMZKvkVt1G8uV31ar_EpuS1JWzjP7yKUSbqJi9K-Atji5j2VGVKzlz5rHNrvehGp6p6rnK3Pnec7HYuFUUkAxoFTivnmpo7DsUXd50h6YgY92PWlPuJZN4qG8sa8=
